* {
  box-sizing: border-box;
  font-size: 1em;
}

.nav-top {
  display: flex;
  background-color: #aaa;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifs;
  margin: auto;
  max-height: 20vh;
}

.nav-list a {
  color: initial;
  text-decoration: none;
}
.nav-list ul {
  display: flex;
  flex-direction: left;
  text-align: center;
  text-decoration: none;
  justify-content: space-around;
}

.nav-list li {
  /* display: flex; */
  list-style-type: none;
  float: left;
  margin: 20px;
  border: 2px solid rebeccapurple;
  background-color: salmon;
  padding: 2px;
  text-align: center;
}
.main {
  display: flex;
}

.left-col {
  display: flex;
  width: 70%;
  padding: 1em;
  height: 20vh;
  border: 0.2em solid black;
}
.right-col {
  margin-left: calc(30%-0.2em);
  display: flex;
  width: 30%;
  padding: 1em;
  height: 20vh;
  border: 0.2em solid black;
}
